<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--styles-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed" rel="stylesheet">
      <link rel="stylesheet" href="static/css/templates.css">
      <link rel="stylesheet" href="static/css/about.css">
      <link rel="stylesheet" href="static/css/style.css">
      <style type="text/css">
          body {
              font-family: 'Saira Semi Condensed', sans-serif;
          }
      </style>
  </head>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="height: 5%;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="./">eSport Guru</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="./about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./players">Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./games">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./teams">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./tournaments">Tournaments</a>
                </li>
            </ul>
        </div>
    </nav>
<body>

<h1 class="page-title">About</h1>

<hr>

<div>

    <div class="container description">
        <p>This site is used to gather information about the ESports scene for all existing games as well as the
            relevant players and teams that exist for each game. With the main goal of the site is to allow the average
            player and the average viewer as well as the professional players to find out information about people who
            specialize in the game as well as their achievements in said game along with what teams that they play for
            and that exist within a game. It will mostly be used by players who want to learn more about the professional
            scene of a certain game.</p>
    </div>

    <div class="container team-members">
        <div class="row align-self-top">
            <div class="col">
                <h1 class="name">Rachel Beale</h1>
                <div class="thumbnail">
                    <img src="../static/images/Rachel-Head-Shot.jpg" class="img-fluid circle">
                </div>
                <div class="details">
                    <p>Currently a software engineering intern at Blackbaud. She will be graduating in Winter 2017 with
                        a B.S.A. in Computer Science before joining the Blackbaud team full-time in January. </p>
                    <b>Responsibilities:</b>
                    <p>Frontend</p>
                    <div><b>Number of Commits:</b> 106</div>
                    <div><b>Number of Issues:</b> 107</div>
                    <div><b>Number of Unit Tests:</b> 108</div>
                </div>
            </div>
            <div class="col">
                <h1 class="name">Persia Ghaffari</h1>
                <div class="thumbnail">
                    <img src="../static/images/Persia-Head-Shot.jpg" class="img-fluid circle">
                </div>
                <div class="details">
                    <p>Is looking to get a job in the gaming industry and programmed for hidden achievement where her team
                        won Best Overall Game at the Intel Game Developers Showcase. She also hosts Super Smash Bro tournments on Friday.
                        She will be graduating in Winter of 2017 with a B.S.A in Computer Science. </p>
                    <b>Responsibilities:</b>
                    <p>Scrum Stuff, Backend</p>
                    <div><b>Number of Commits:</b> 109</div>
                    <div><b>Number of Issues:</b> 110</div>
                    <div><b>Number of Unit Tests:</b> 111</div>
                </div>
            </div>
            <div class="col">
                <h1 class="name">Kevin Zhang</h1>
                <div class="thumbnail">
                    <img src="../static/images/Kevin-Head-Shot.jpg" class="img-fluid circle">
                </div>
                <div class="details">
                    <p>Kevin Zhang likes to spend his free time working on personal projects and practicing technical interviews.
                        He is efficient in Swift and has developed iOS app(s). He will be graduating in Spring 2019. </p>
                    <b>Responsibilities:</b>
                    <p>Database, Backend</p>
                    <div><b>Number of Commits:</b> 112</div>
                    <div><b>Number of Issues:</b> 113</div>
                    <div><b>Number of Unit Tests:</b> 114</div>
                </div>
            </div>
        </div>
        <div class="row align-self-start team-members">
            <div class="col">
                <h1 class="name">Thien Q Vo</h1>
                <div class="thumbnail">
                    <img src="../static/images/Thien-Head-Shot.jpg" class="img-fluid circle">
                </div>
                <div class="details">
                    <p>Thien is an avid gamer who also like to spend time doing coding challenges on HackerRank.
                        He will be graduating in 2017-2018.</p>
                    <b>Responsibilities:</b>
                    <p>Database, Platform</p>
                    <div><b>Number of Commits:</b> 115</div>
                    <div><b>Number of Issues:</b> 116</div>
                    <div><b>Number of Unit Tests:</b> 117</div>
                </div>
            </div>
            <div class="col">
                <h1 class="name">Eric Liu</h1>
                <div class="thumbnail">
                    <img src="../static/images/Eric-Head-Shot.jpg" class="img-fluid circle">
                </div>
                <div class="details">
                    <p>Eric Liu will be graduating in spring of 2019.</p>
                    <b>Responsibilities:</b>
                    <p>Frontend</p>
                    <div><b>Number of Commits:</b> 118</div>
                    <div><b>Number of Issues:</b> 119</div>
                    <div><b>Number of Unit Tests:</b> 120</div>
                </div>
            </div>
        </div>
        <hr>
        <div class="col center">
            <h1 class="name">Other Information</h1>
            <div class="details">
                <div><b>Number of Commits:</b> 515</div>
                <div><b>Number of Issues:</b> 520</div>
                <div><b>Number of Unit Tests:</b> 525</div>
                <br>
                <div><a href="http://docs.bealerj2260.apiary.io/#"> Apiary API </a></div>
                <div><a href="https://github.com/bealerj2260/idb"> Github Repo </a></div>
                <div><a href="https://trello.com/b/kwxUEWxn/website-development"> Trello </a></div>
                <br>
                <p><b> Data Sources</b></p>
                <div><a href="https://api.pandascore.co/rest"> Pandascore API</a></div>
                <div><a href="https://api.challonge.com/v1"> Challonge API</a></div>
                <br>
                <div>We utilized the python modules requests and json to extract data from our chosen external APIs,
                    PandaScore and IGDB respectfully. For the player, tournament, and team models, we used the PandaScore's
                    API, while for the game model, we used IGDB's API. For each model, we used the REST Get function to
                    retrieve a JSON string, converted it into a python JSON object, and then parsed through the JSON to
                    retrieve values. Once we had the respective values, we inserted them as records into each of their
                    respective tables in our database.</div>
                <br>
                <b>Tools</b>
                <br>
                <div><b>BootStrap</b> was used to find templates for our frontend.</div>
                <div><b>Apiary</b> was used to document our APIs.</div>
                <div><b>Github</b> was used for version control.</div>
                <div><b>Flask</b> is our mirco web framework that we used for back-end routing.</div>
                <div><b>Google Cloud Platform</b> was used to hold our website.</div>
                <div><b>Slack</b> was used for group communication.</div>
                <div><b>Trello</b> was used for issue tracking.</div>
                <div><b>PlanItPoker</b> was used to help estimate tasks.</div>
                <br>
                <a class="nav-link tech-report" href="https://utexas.box.com/s/4i6sws9tbudzfpzjzmn9p3h97pcrphm7">Technical Report</a>
                <br>
            </div>
        </div>
    </div>
</div>

</body>
</html>
