<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--styles-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  </head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="height: 5%;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="./">eSports Guru</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./players">Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./games">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./teams">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./tournaments">Tournaments</a>
                </li>
            </ul>
        </div>
    </nav>
<body> 
<div>

<div style="font-size: 40px; text-align: center;">eSports Guru</div>
    <div>
        <p>This site is used to gather information about the ESports scene for all existing games as well as the relevant players and teams that exist for each game. With the main goal of the site is to allow the average player and the average viewer as well as the professional players to find out information about people who specialize in the game as well as their achievements in said game along with what teams that they play for and that exist within a game. It will mostly be used by players who want to learn more about the professional scene of a certain game.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-4 text-left" >
        <h1 style="text-align: center;">Rachel Beale</h1>
          <img src="../static/images/Rachel-Head-Shot.jpg" class="img-rounded" alt="why doesn't this work" width="350" height="350" style="margin-left: auto; display: block; margin-right: auto;"> 
          <ul style="font-size: 20px; list-style-type: none; text-align: center;">
            <li style="list-style-type: none;"> 
                <b>Bio:</b>
                <p>Currently a software engireering intern at Blackbaud. She will be graduating in Winter 2017 with a B.S. in Computer Science. </p>
            </li>
            <li> 
                <b>Responsibilities:</b>
                <p>
                    Frontend
                </p>
            </li>
            <li>
                <b>Number of Commits:</b> 106
            </li>
            <li>
                <b>Number of Issues:</b> 107
            </li>
            <li>
                <b>Number of Unit Tests:</b> 108
            </li>
          </ul>
    </div>
    <div class="col-lg-4 col-sm-4 text-left" >
        <h1 style="text-align: center;">Persia Ghaffari</h1>
          <img src="../static/images/Persia-Head-Shot.jpg" class="img-rounded" alt="why doesn't this work" width="350" height="350" style="margin-left: auto; display: block; margin-right: auto;"> 
          <ul style="font-size: 20px; list-style-type: none; padding: 15px; text-align: center;">
            <li style="list-style-type: none;"> 
                <b>Bio:</b>
                <p>Is looking to get a job in the gaming industry and programmed for hidden achievement where her team won Best Overall Game at the Intel Game Developers Showcase. She also hosts Super Smash Bro tournments on Friday. She will be graduating in Winter of 2017 with a B.S.A in Computer Science. </p>
            </li>
            <li> 
                <b>Responsibilities:</b>
                <p>
                    Scrum Stuff, Backend
                </p>
            </li>
            <li>
                <b>Number of Commits:</b> 109
            </li>
            <li>
                <b>Number of Issues:</b> 110
            </li>
            <li>
                <b>Number of Unit Tests:</b> 111
            </li>
          </ul>
    </div>
     <div class="col-lg-4 col-sm-4 text-left"">
        <h1 style="text-align: center;">Kevin Zhang</h1>
          <img src="../static/images/Kevin-Head-Shot.jpg" class="img-rounded" alt="why doesn't this work" width="350" height="350" style="margin-left: auto; display: block; margin-right: auto;"> 
          <ul style="font-size: 20px; list-style-type: none; padding: 15px; text-align: center;">
            <li style="list-style-type: none;"> 
                <b>Bio:</b>
                <p>Kevin Zhang likes to spend his free time working on personal projects and practicing technical interviews. He is efficient in Swift and has developed iOS app(s). He will be graduating in Spring 2019. </p>
            </li>
            <li> 
                <b>Responsibilities:</b>
                <p>
                Database, Backend
                </p>
            </li>
            <li>
                <b>Number of Commits:</b> 97
            </li>
            <li>
                <b>Number of Issues:</b> 98
            </li>
            <li>
                <b>Number of Unit Tests:</b> 99
            </li>
          </ul>
    </div>
</div>

<div class="row">

    <div class="col-lg-4 col-sm-4 text-left" >
        <h1 style="text-align: center;">Thien Q Vo</h1>
          <img src="../static/images/Thien-Head-Shot.jpg" class="img-rounded" alt="why doesn't this work" width="350" height="350" style="margin-left: auto; display: block; margin-right: auto;"> 
          <ul style="font-size: 20px; list-style-type: none; padding: 15px; text-align: center;">
            <li style="list-style-type: none;"> 
                <b>Bio:</b>
                <p>Thien is an avid gamer who also like to spend time doing coding challenges on HackerRank. He will be graduating in 2017-2018.</p>
            </li>
            <li> 
                <b>Responsibilities: </b>
                <p>
                    Database, Platform
                </p>
            </li>
            <li>
                <b>Number of Commits:</b> 100
            </li>
            <li>
                <b>Number of Issues:</b> 101
            </li>
            <li>
                <b>Number of Unit Tests:</b> 102
            </li>
          </ul>
    </div>
    <div class="col-lg-4 col-sm-4 text-left">
        <h1 style="text-align: center;">Eric Liu</h1>
          <img src="../static/images/Eric-Head-Shot.jpg" class="img-rounded" alt="why doesn't this work" width="350" height="350" style="margin-left: auto; display: block; margin-right: auto;"> 
          <ul style="font-size: 20px; list-style-type: none;padding: 15px; text-align:center;">
            <li style="list-style-type: none;"> 
                <b>Bio:</b>
                <p>Eric Liu will be graduating in spring of 2019.</p>
            </li>
            <li> 
                <b>Responsibilities: </b>
                <p>
                    Frontend 
                </p>
            </li>
            <li>
                <b>Number of Commits:</b> 103
            </li>
            <li>
                <b>Number of Issues:</b> 104
            </li>
            <li>
                <b>Number of Unit Tests:</b> 105
            </li>
          </ul>
    </div>
    <div class="col-lg-4 col-sm-4 text-left">
        <ul style="font-size: 20px; list-style-type: none;">
        <h1> 
            <i>Other Information</i>
        </h1>
            <li style="list-style-type: none;">
                <b>Total Number of Commits:</b> 515
            </li>
            <li>
                <b>Total Number of Issues:</b> 520
            </li>
            <li>
                <b>Total Number of Unit Tests:</b> 525
            </li>
            <li><a class="nav-link" href="https://app.apiary.io/bealerj2260/editor"> Apiary API </a></li>
            <li><a class="nav-link" href="https://github.com/bealerj2260/idb"> Github Repo </a></li>
            <li><a class="nav-link" href="http://bit.ly/2xp97m1"> Trello </a></li>
            <li>
            <b> Data Sources:</b>
                <ul>
                    <li>
                        <a class="nav-link" href="https://api.pandascore.co/rest "> Pandascore API </a>               
                    </li>
                    <li>
                        <a class="nav-link" href="https://api.challonge.com/v1  "> Challonge API </a>                    
                    </li>
                </ul>
            </li>
            <li>
            <b> Tools:</b>
                <ul>
                    <li>
                        <b>BootStrap</b>
                        was used to find templates for our frontend.
                    </li>
                    <li>
                        <b>Apiary</b>
                        was used to document our APIs.
                    </li>
                    <li>
                        <b>Github</b>
                        was used for version control.
                    </li>
                    <li>
                        <b>Flask</b>
                        is our mirco web framework that we used for back-end routing.
                    </li>
                    <li>
                        <b>Google Cloud Platform</b>
                        was used to hold our website.
                    </li>
                    <li>
                        <b>Slack</b>
                        was used for group communication.
                    </li>
                    <li>
                        <b>Trello</b>
                        was used for issue tracking.
                    </li>
                    <li>
                        <b>PlanItPoker</b>
                        was used to help estimate tasks.
                    </li>
                </ul>
            </li>
            <li>
                <a class="nav-link" href="# "> <b> Technical Report</b> </a>               
            </li>
        </ul>
    </div>
</div>
</body>
    <footer class="footer navbar-fixed-bottom" style="position: fixed; bottom: 0px; width: 100%">
        <div class="container" style="text-align: center; padding-top: 10px">
            <span class="text-muted">eSports Guru - Copyright 2017</span>
        </div>
    </footer>
</html>
