<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSGO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/templates.css">
</head>
<body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="height: 5%;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="./">eSports Guru</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./players">Players</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./games">Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./teams">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./tournaments">Tournaments</a>
            </li>
        </ul>
    </div>
</nav>

<h2 style="width: 100%; margin-left: 1%; padding-top: 10px; text-align: center">Counter-Strike: Global Offensive</h2>

<hr>

<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col">
            <div class="detail-image">
                <img class="img-game" src="../static/images/csgo.png">
            </div>
        </div>
        <div class="col labels lists">
            <div>Name</div>
            <div>Year published</div>
            <div>Company</div>
            <div>Genre</div>
            <div>Current Champion</div>
        </div>
        <div class="col lists">
            <div> Counter-Strike: Global Offensive</div>
            <div> 2012</div>
            <div> Valve</div>
            <div> First person shooter</div>
            <div> SK Gaming</div>
        </div>
    </div>
</div>
</body>
</html>
