.card {
    margin-top: 15px
}

.card .card-block .col-12 {
    text-align: center;
}

.detail-image {
    text-align: center;
    background-color: whitesmoke;
    padding-top: 15px;
}

.img {
    max-height: 25vh;
}