.thumbnail {
  height: 200px;
  width: 200px;
  margin: auto;
  position: relative;
}

.img-fluid {
  width: 100%;
  height: auto;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.attributes {
  text-align: center;
  margin: auto;
  padding-top: 10px;
}

.detail-image {
    margin: auto;
    height: auto;
    padding-right: 10px;
}

.labels {
    font-weight: bold;
    text-align: left;
}

.lists {
    margin: auto;
    font-size: 20px;
}

.detail-columns {
    width: 20%;
}

.col {
    max-width: 50vw;
}

.img-game {
    width: 100%;
    height: auto;
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-right: 20px;
}

.page-title {
    text-align: center;
}

.circle {
    border-radius: 50%;
}