@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed");

body {
    font-family: 'Saira Semi Condensed', sans-serif;
    background-color: #F0F0F0;
}

.carousel-img {
    width: 100%;
    height: 93vh;
}