<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EsportGuru APi</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1> Welcome to EsportGuru's API! </h1>

<a href="players">/GET/players</a> <br>
<a href="teams">/GET/teams</a> <br>
<a href="tournaments">/GET/tournaments</a> <br>
<a href="games">/GET/games</a>
{{ content }}

</body>
</html>